html {
    --color-primary1: #0e191a;
    --color-primary2: #31494b;
    --color-accent1: #18798c;
    --color-accent2: #2ebfdb;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary1);
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.map-grid {
    display: grid;
    background-color: var(--color-accent1);
    min-width: 800px;
    min-height: 800px;
}